/*======= begin shemework ======*/
.shemework {
  padding-top: 81px;
}
.shemework__title {
  font-size:rem(48px);
  font-family:'museo_sans_cyrl900';
  color: $yellow;
  text-align: center;
}
.shemework__content{
  margin-top: 8px;
}
/*======= end shemework ========*/